body {
    background-color: #d9fff7;
    font-family: Tahoma;
}

button {
    margin: 1px;
}

.list-holder {
    display: flex;
    background-color: #c6d6e4;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.task-group-odd {
    display: 1;
    background-color: #dddddd;
    padding: 5px;
    margin: 2px;
    width: 300px;
    height: 400px;
}

.task-group-even {
    display: 1;
    background-color: #ebebeb;
    padding: 5px;
    margin: 2px;
    width: 300px;
    height: 400px;
}

.list-group-item {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}
