body {
    background-color: #d9fff7;
}

.list-holder {
    display: flex;
    background-color: #cfd9e2;
}

.task-group-odd {
    display: 1;
    background-color: #d4d4d4;
}

.task-group-even {
    display: 1;
    background-color: #ebebeb;
}

.list-group-item {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
}