body {
    background-color: #d9fff7;
    font-family: Tahoma;
}

h2 {
    margin: 5px;
}

button {
    margin: 1px;
}

hr {
    border: 4px solid #a0a0a0;
}

.list-background {
    background-color: #c6d6e4;
}

.list-holder {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.task-group-odd {
    overflow: auto;
    display: 1;
    background-color: #dddddd;
    padding: 5px;
    margin: 2px;
    width: 300px;
    height: 600px;
}

.task-group-even {
    overflow: auto;
    display: 1;
    background-color: #ebebeb;
    padding: 5px;
    margin: 2px;
    width: 300px;
    height: 600px;
}

.list-group-item {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

@media only screen and (max-width: 779px) {
    .task-group-odd {
        width: 728px;
        height: 400px;
    }
    
    .task-group-even {
        width: 728px;
        height: 400px;
    }
}